.container h1 {
  background-color: white;
  border: #1b165a;
  text-align: center;
  font-size: 2.5rem;
  font-weight: bolder;
  color: #17a589;
  line-height: 30px;
  margin-top: 0;
  margin-bottom: 20px;
  padding-bottom: 20px;
}
.about {
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-content: center;
  text-align: center;
  flex-direction: row;
  flex-wrap: wrap;
  background-size: cover;
  overflow: hidden;
  color: #1b165a;
  font-size: 17px;
  padding: 2px;
  margin: auto;
  font-family: Arial;
}
.about #i {
  justify-content: center;
  align-content: center;
}

@media screen and (max-width: 900px) {
  .column {
    width: 50%;
  }
}
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
